<style>
  .wgpu-links {
    list-style: none;
    padding-left: 0em;
  }

  .wgpu-links li {
    margin-bottom: 0.5em;
  }

  .wgpu-links li a {
    color: #007bff;
    text-decoration: none;
  }

  .wgpu-links li a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
</style>

<ul class="wgpu-links">
  <li><a href="/webgpu-sandbox/triangle_2d/">2D Triangle</a></li>
  <li><a href="/webgpu-sandbox/triangle_2d_msaa/">2D Triangle with MSAA</a></li>
  <li><a href="/webgpu-sandbox/square_2d/">2D Square</a></li>
  <li><a href="/webgpu-sandbox/cube_3d/">3D Cube</a></li>
  <li><a href="/webgpu-sandbox/cube_3d_wgpu_matrix/">3D Cube (using wgpu-matrix)</a></li>
  <li><a href="/webgpu-sandbox/cube_3d_texture/">3D Cube with Texture</a></li>
</ul>
